/* Color variables */
.content {
  --theme-color-green: rgba(54, 143, 130, 1);
  --theme-color-orange: rgba(245, 113, 81, 1);
  --theme-color-blue: rgba(145, 176, 255, 1);
  --text-color: rgba(20, 20, 20);
}

/* Hero section */
.hero {
  position: relative;
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100%;
}

/* Background overlay to improve text contrast */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.4)
  );
  opacity: 1;
}

/* Contains the title, description, and "find-out-more" button */
.hero-content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  margin-top: 10rem;
}

/* Hero title */
.title h1 {
  font-size: 64px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

/* Hero description */
.description p {
  max-width: 515px;
  font-size: 20px;
  text-align: center;
  line-height: 1.4;
  color: rgb(250, 250, 250);
  margin-top: 2rem;
}

/* Sends the user to the "about-me" section of the page */
.find-out-more {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 220px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  color: white;
  padding: 15px 15px 15px 25px;
  margin-top: 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.8);
  outline: 0;
  opacity: 1;
  border-radius: 10rem;
  cursor: pointer;
  transition: 250ms background-color ease-in-out;
}

.find-out-more svg {
  position: relative;
  border-radius: 2rem;
  fill: white;
  padding: 10px;
  width: 40px;
  height: 40px;
  background: linear-gradient(
    to bottom right,
    var(--theme-color-green) 0 33%,
    var(--theme-color-orange) 33% 70%,
    var(--theme-color-blue) 70% 100%
  );
}

.find-out-more svg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
}

.find-out-more:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
/* -------------------- */

/* Contains the rest of the page content (about-us and proof-of-concept) */
.more {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1300px;
  width: 100%;
  margin-top: 6rem;
  padding: 0 2rem;
  gap: 8rem;
}

/* About me section */
.about-us {
  flex: 1;
  max-width: 700px;
  display: flex;
  flex-direction: column;
}

/* About me name tag */
.about-us-tag {
  text-transform: uppercase;
  color: var(--theme-color-green);
  font-weight: 500;
}

/* About me title */
.about-us h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--text-color);
  margin-top: 2rem;
}

/* About me actual text content */
.about-us p {
  font-size: 20px;
  line-height: 1.4;
  color: var(--text-color);
  margin-top: 1.5rem;
}

/* Links pointing to other pages */
.more-buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.contact-me,
.our-services {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  appearance: none;
  padding: 1.25rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
}
/* -------------------- */

/* Links to contact page */
.contact-me {
  background-image: linear-gradient(
    to bottom right,
    rgba(54, 143, 130, 0.8),
    var(--theme-color-green)
  );
  transition: 250ms box-shadow ease-in-out;
  color: white;
}

.contact-me:hover {
  box-shadow: 0px 20px 35px 0 rgba(54, 143, 130, 0.2);
}

/* Links to services page */
.our-services {
  position: relative;
  border: 1px solid var(--text-color);
  gap: 8px;
  overflow: hidden;
}

/* Hover effects */
.our-services::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2rem;
  background-color: rgba(20, 20, 20, 0.05);
  transition: 250ms transform ease-in-out;
  transform: translateX(-100%);
}

.our-services:hover::after {
  transform: translateX(0);
}

.our-services span {
  color: var(--text-color);
}

.our-services svg {
  border-radius: 2rem;
  width: 22px;
  fill: var(--theme-color-green);
}
/* -------------------- */

/* "My projects" section */
.proof-of-concept {
  flex: 1;
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Contains the name tag and the title of the section */
.proof-of-concept .top-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Proof of concept name tag */
.proof-of-concept-tag {
  font-weight: 500;
  text-transform: uppercase;
  color: var(--theme-color-orange);
}

/* Link pointing to the gallery page */
.proof-of-concept .go-to-gallery {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  appearance: none;
  gap: 2px;
}

/* Span containing the text content */
.go-to-gallery span:first-of-type {
  color: var(--text-color);
}

/* Text underline decoration */
.go-to-gallery span:last-of-type {
  width: 100%;
  height: 2px;
  background-color: var(--theme-color-orange);
  border-radius: 2rem;
}

/* Proof-of-concept title */
.proof-of-concept h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--text-color);
  margin-top: 2rem;
}

/* Swiper library style declarations. See Swiper documentation for more information regarding the variables modified
for this element */
.swiper {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  margin-top: 1.5rem;
  --swiper-scrollbar-border-radius: 2rem;
  --swiper-scrollbar-bottom: 20px;
  --swiper-scrollbar-sides-offset: 10%;
  --swiper-scrollbar-bg-color: rgba(255, 255, 255, 0.4);
  --swiper-scrollbar-drag-bg-color: rgb(255, 255, 255);
  --swiper-scrollbar-size: 2px;
  --swiper-navigation-size: 32px;
  --swiper-navigation-color: rgb(255, 255, 255);
}

.swiper-slide img {
  width: 100%; /* Ensure images fit within slides */
  height: 100%; /* Ensure images fit within slides */
  border-radius: 1rem;
}
/* -------------------- */

/* Animations */
@keyframes changecolor {
  0% {
    background-color: var(--theme-color-blue);
  }

  25% {
    background-color: rgba(60, 60, 60);
  }

  50% {
    background-color: var(--theme-color-orange);
  }

  75% {
    background-color: rgba(60, 60, 60);
  }

  100% {
    background-color: var(--theme-color-green);
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
/* -------------------- */

/* Media queries */
@media (min-width: 1024px) {
  .swiper-scrollbar {
    display: none !important;
  }
}

@media (max-width: 1024px) {
  .hero-content {
    margin-top: 8rem;
  }

  .title h1 {
    max-width: 800px;
  }

  .proof-of-concept {
    max-width: 700px;
  }
}

@media (max-width: 765px) {
  .description p {
    max-width: 350px;
  }
}

@media (max-width: 600px) {
  .hero-content {
    padding: 0 1rem;
    margin-top: 6rem;
  }

  .title h1 {
    font-size: 50px;
    max-width: 540px;
  }

  .description p {
    max-width: 295px;
    font-size: 18px;
    margin-top: 1.5rem;
  }

  .find-out-more {
    font-size: 16px;
  }

  .more {
    margin-top: 2rem;
    padding: 0 1rem;
    gap: 3rem;
  }

  .about-us-tag {
    font-size: 14px;
  }

  .about-us h2 {
    font-size: 24px;
  }

  .about-us p {
    font-size: 18px;
  }

  .more-buttons {
    flex-direction: column;
  }

  .more-buttons a {
    font-size: 16px;
  }

  .proof-of-concept-tag {
    font-size: 14px;
  }

  .proof-of-concept h2 {
    font-size: 24px;
  }

  .proof-of-concept .go-to-gallery {
    font-size: 16px;
  }

  .footer-content {
    padding: 2rem 1rem;
  }
}

@media (max-width: 450px) {
  .title h1 {
    font-size: 44px;
  }

  .description p {
    max-width: 295px;
    font-size: 18px;
    margin-top: 1.5rem;
  }
}

@media (max-height: 450px) {
  .hero {
    height: auto;
  }

  .find-out-more {
    margin-bottom: 2rem;
  }
}

@media (max-width: 380px) {
  .title h1 {
    font-size: 40px;
  }
}
/* -------------------- */
