/* Color variables */
.content {
  --theme-color-green: rgba(54, 143, 130, 1);
  --theme-color-orange: rgba(245, 113, 81, 1);
  --theme-color-blue: rgba(145, 176, 255, 1);
}

/* Section wrapper */
.services {
  max-width: 1300px;
  width: 100%;
  margin: calc(8rem + 5px) auto 0 auto;
  padding: 0 2rem;
  --border-radius: 1rem;
}

/* Grid wrapper for all service cards */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

/* Service card containing the service name and service image */
.service {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

/* Service image wrapper */
.service-photo {
  padding-top: 100%;
  border-radius: var(--border-radius);
}

/* Service image */
.service-photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  object-fit: cover;
}

/* Contains the service name */
.service-info {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1.25rem 1.5rem 1.5rem 1.5rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  transition:
    250ms ease-in-out bottom,
    250ms ease-in-out opacity;
  opacity: 1;
}

/* Hides service name to show full image on hover */
@media (hover: hover) and (pointer: fine) {
  .service:hover .service-info {
    bottom: -25%;
    opacity: 0;
  }
}

.service.show-full-image .service-info {
  bottom: -25%;
  opacity: 0;
}
/* -------------------- */

/* Service name text content */
.service-info p {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  color: white;
}

/* Text underline decoration */
.service-info p::after {
  content: "";
  height: 2px;
  left: 0;
  right: 0;
  position: absolute;
  top: 26px;
}

.service:nth-child(3n + 1) .service-info p::after {
  background-color: var(--theme-color-green);
}

.service:nth-child(3n + 2) .service-info p::after {
  background-color: var(--theme-color-orange);
}

.service:nth-child(3n + 3) .service-info p::after {
  background-color: var(--theme-color-blue);
}
/* -------------------- */

/* Media queries for responsive design */
@media (max-width: 1024px) {
  .localization {
    display: flex;
  }

  .localization span {
    color: var(--theme-color-green);
  }

  .services {
    margin-top: calc(1rem + 5px);
  }
}

@media (max-width: 600px) {
  .services {
    padding: 0 1rem;
  }

  .sticky-contact-me {
    display: initial;
  }

  .service-info p {
    font-size: 16px;
  }

  .service-info p::after {
    top: 22px;
  }
}
/* -------------------- */
