<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lucky Construct</title>
    <meta name="author" content="stanciudrg" />
    <meta
      name="description"
      content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique, dignissimos facere accusantium porro officiis dolore eveniet impedit minima aut ipsa fuga suscipit at animi voluptas quis, necessitatibus ab ratione delectus?"
    />
    <meta name="format-detection" content="telephone=no" />
  </head>
  <header class="invisible">
    <nav>
      <div class="logo">
        <a href="../index.html">
          <img
            src="<%= require('../img/logo.svg') %>"
            width="60"
            height="60"
            alt="Lucky Construct Logo"
          />
          <div class="name">
            <span>Lucky</span>
            <span>Construct</span>
          </div>
        </a>
      </div>
      <%= htmlWebpackPlugin.options.links %>
      <button class="menu-toggler">
        <div class="menu-toggler-icon">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
    </nav>
  </header>
  <body>
    <div class="localization">
      <a href="../index.html">Acasă</a>
      <span>/</span>
      <%= htmlWebpackPlugin.options.localization %>
    </div>
    <div class="content"><%= htmlWebpackPlugin.options.content %></div>
    <div class="sticky-contact-me">
      <a href="tel:+40763698818">
        <svg
          fill="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13 8a3 3 0 0 1 3 3 1 1 0 0 0 2 0 5 5 0 0 0-5-5 1 1 0 1 0 0 2Z"
          ></path>
          <path
            d="M13 4a7 7 0 0 1 7 7 1 1 0 0 0 2 0 9 9 0 0 0-9-9 1 1 0 1 0 0 2Z"
          ></path>
          <path
            d="M21.75 15.91a1 1 0 0 0-.72-.65l-6-1.37a1 1 0 0 0-.92.26c-.14.13-.15.14-.8 1.38a9.91 9.91 0 0 1-4.87-4.89C9.71 10 9.72 10 9.85 9.85a1 1 0 0 0 .26-.92L8.74 3a1 1 0 0 0-.65-.72 3.79 3.79 0 0 0-.72-.18A3.94 3.94 0 0 0 6.6 2 4.6 4.6 0 0 0 2 6.6 15.42 15.42 0 0 0 17.4 22a4.6 4.6 0 0 0 4.6-4.6 4.338 4.338 0 0 0-.25-1.49ZM17.4 20A13.41 13.41 0 0 1 4 6.6 2.61 2.61 0 0 1 6.6 4h.33L8 8.64l-.54.28c-.86.45-1.54.81-1.18 1.59a11.85 11.85 0 0 0 7.18 7.21c.84.34 1.17-.29 1.62-1.16l.29-.55L20 17.07v.33a2.61 2.61 0 0 1-2.6 2.6Z"
          ></path>
        </svg>
      </a>
    </div>
  </body>
  <footer>
    <p>Copyright &copy; 2024 Lucky Construct</p>
  </footer>
</html>
